init.el
snippets/
config/sql-connection.el
config/sql-connections.el

.cache/
.dap-breakpoints
.lsp-session-v1
.org-id-locations
.session
auto-save-list/
bookmarks
eclipse.jdt.ls/
eln-cache/
elpa/
lsp/
network-security.data
projectile-bookmarks.eld
projectile.cache
projects
recentf
transient/
undo-fu-session/
workspace/

eshell/history
eshell/lastdir
eshell/aliases.el

agent/
.local/

properties.local.el

.mc-lists.el
ac-comphist.dat
file-backups/
font-link.txt
tramp
url/
/.agent-shell/
org-roam.db
config/org-roam-setting.el
straight/
.opencode/
*.el~
.extension/
ede-projects.el
